iframe {
    width: 4em;
    height: 1.2em;
    background-color: aliceblue;
    margin-right: 1em;
    border: none;
    vertical-align: top;
    /* margin-bottom: 1em; */
}

div {
    display: inline-block;
    vertical-align: top;
}
p {
    margin: 0;
    margin-top: 1em;
    font-weight: bold;
}
*{
    font-family:monospace;
}
.header {
 
    display: block;
}
a {
    text-decoration: none;
}
h1 {
    margin-bottom: 0.2em;
    font-size: 1.5em;
}